@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
--gold-color: #EFC69B;
--red-color: #AF1B3F;
--dark-color: #473144;
--body-font: Helvetica, Arial, sans-serif;
--headline-font: Lora, Impact, serif;
}

body {
    font-family: var(--body-font);
}

h1 {
    text-align: center;
    font-family: var(--headline-font);
}

.nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-content: end;
    gap: 10px;
    border-top: 2px solid var(--gold-color);
    border-bottom: 2px solid var(--gold-color);
    padding: 10px;
}

.nav a {
    
    text-decoration: none;
    color: var(--red-color);
}

h2, h3 {
    color: var(--red-color);
    font-family: var(--headline-font);
    font-size: 1.5em

}

.article-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr; 
    gap: 15px; 
    align-items: start;
}

.page-grid {
    display: grid;
    grid-template-columns: 3fr 1fr; 
    gap: 20px; 
    align-items: start;
}

.left {
    text-align: right;
    
}

.middle {
    border-left: 2px solid var(--gold-color);
    border-right: 2px solid var(--gold-color);
    padding: 10px;
    margin: 10px;
    
}

.middle img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right {
    border-left: 2px colid var(--gold-color);
}

.date {
    font-size: 1.1em;
}




